#site_nav {
	padding-left: 30%;
}

#main_content {
	padding-left: 0;
}

#main_content_wrap {
	padding-top: 3%;
}

#contentWrapper {
	padding-top: 4%;
}

#blog_content {
	padding-left: 10%;
}

.blog_tag {
	font-size: 18px;
	cursor: pointer;
}